@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var houseData = (AffordableHouseResponse.AffordableHouse[])ViewData["AffordableHouse"];
    var schoolData = (ElementarySchoolResponse.ElementarySchool[])ViewData["ElementarySchool"];
}


<h1 class="display-4"><center>List of Affordable Houses near Good Elementary Schools!</center></h1>
<div class="text-center">
    
    <table class="table table-bordered table-striped">
            <tr>
            <th>Community Area Number</th>
            <th>Community Area Name</th>
            <th>Property Name</th>
            <th>Address</th>
            <th>Zip Code</th>
        </tr>
        @{
            foreach (AffordableHouseResponse.AffordableHouse house in houseData)
            {
                <tr>
                    <td>@house.CommunityAreaNumber</td>
                    <td>@house.CommunityArea</td>
                    <td>@house.PropertyName</td>
                    <td>@house.Address</td>
                    <td>@house.ZipCode</td>
                </tr>
            }
        }

    </table>
</div>

<div class="text-center">
    <h2 class="display-4">List of schools</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>School ID</th>
            <th>Name of School</th>
            <th>Address</th>
            <th>Zip Code</th>
            <th>Quality of Facilities</th>
        </tr>
        @{
            foreach (ElementarySchoolResponse.ElementarySchool school in schoolData)
            {
                <tr>
                    <td>@school.SchoolId</td>
                    <td>@school.NameOfSchool</td>
                    <td>@school.StreetAddress</td>
                    <td>@school.ZipCode</td>
                    <td>@school.QualityOfFacilities</td>
                </tr>
            }
        }

    </table>
</div>